<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Route Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <style>
    .table-responsive {
      max-height: 400px;
      overflow-y: auto;
    }
  </style>
</head>

<body>
  <div class="container mt-4 mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/easy-bus/route-management">Route Management</a></li>
        <li class="breadcrumb-item active">Route Details</li>
      </ol>
    </nav>
  </div>
  <div class="container mt-5">
    <h1>Route Details</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" th:text="${route.name}"></h5>
        <p class="card-text">
          <strong>Code:</strong> <span th:text="${route.code}"></span>
        </p>
        <p class="card-text">
          <strong>Time:</strong> <span th:text="${route.time}"></span>
        </p>
        <p class="card-text">
          <strong>Distance:</strong> <span th:text="${route.distance}"></span>
        </p>
      </div>
    </div>
    <h2 class="mt-4">Checkpoints</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Location</th>
            <th scope="col">Address</th>
            <th scope="col">Province</th>
            <th scope="col">City</th>
            <th scope="col">Order</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="checkpoint : ${checkpoints}">
            <td th:text="${checkpoint.checkpointId}"></td>
            <td th:text="${checkpoint.placeName}"></td>
            <td th:text="${checkpoint.address}"></td>
            <td th:text="${checkpoint.province}"></td>
            <td th:text="${checkpoint.city}"></td>
            <td th:text="${checkpoint.checkpointOrder}"></td>
            <td th:text="${checkpoint.checkpointType}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>