body {
    background-color: #F0F4F9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.g-col-4:nth-child(1) {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}

.form-label {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.form-control {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.form-control::placeholder {
    font-size: 0.9rem;
    padding-left: 10px;
}

.btn-custom {
    background-color: #FFFEEF;
    color: black;
    font-weight: bold;
    border: none;

}

.btn-custom:hover {
    background-color: #FF6500;
    color: white;
}

@media (max-width: 768px) {
    .g-col-4:nth-child(1) {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .form-label {
        color: white;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
    }

    .form-control {

        margin-left: 30px;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 5px;
    }

    .form-control::placeholder {
        font-size: 0.9rem;
        padding-left: 10px;
    }

}